// Common variables
$button-text-color: #ffffff;
$button-background-color: #ef476f;
$button-border-color: #ef476f;
$card-background-color: #ffffff;
$card-image-height: 15rem;
$card-height: 30rem;
$card-padding-large: 1.5rem;
$card-padding-small: 1rem;
$button-spacing: 0.5rem;
$title-spacing: 2rem;

// Defined breakpoints
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

// Style for the MovieCard component
.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 100%;
  max-width: 20rem;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: $card-background-color;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: $card-padding-large;

  .card-img-container {
    width: 100%;
    height: $card-image-height;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc($card-height - $card-image-height - 2 * $card-padding-large);
    padding: 0;
    text-align: center;
    overflow: hidden;

    .card-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: $title-spacing 0 $button-spacing;
    }

    .see-more {
      margin-top: auto;
      width: 100%;
      background-color: #118ab2;
      color: $button-text-color;
      border: 1px solid $button-text-color;
      margin-bottom: $button-spacing;

      &:hover {
        background-color: darken(#118ab2, 10%);
        color: $button-text-color;
        border: 1px solid $button-text-color;
      }
    }

    .favorite-button {
      width: 100%;
      background-color: #ffffff;
      color: #ef476f;
      border: 2px solid $button-border-color;
      margin-bottom: $button-spacing;

      &:hover {
        background-color: darken($button-background-color, 10%);
        color: $button-text-color;
        border: 1px solid $button-border-color;
      }
    }
  }

  // Responsive styles
  @media (max-width: $breakpoint-lg) {
    max-width: 18rem;
    justify-content: center;
  }

  @media (max-width: $breakpoint-md) {
    max-width: 15rem;
    padding: $card-padding-small;
    justify-content: center;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 12rem;
    margin: 0.5rem;
    padding: $card-padding-small;
    justify-content: center;
  }
}
