// Define colors and common variables
$navbar-bg-color: #f8f9fa; // Light background color
$brand-color: #118ab2; // Dark color for the brand
$link-color: #118ab2; // Primary link color
$link-hover-color: #ffd166; // Yellow for hover
$link-active-color: #073b4c; // Active link color
$dropdown-bg-color: #ffffff; // Background color for the dropdown
$border-color: #ffd166; // Border color
$home-link-color: $link-color; // Blue color
$profile-link-color: $link-color; // Blue color
$logout-link-color: $link-color; // Blue color

// Navbar styles
.navbar {
  background-color: $navbar-bg-color;

  .navbar-brand {
    color: $brand-color;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline 0.25rem #ffd166;

    &:hover {
      color: $border-color; // Use yellow color on hover
    }
  }

  .navbar-toggler {
    border-color: $border-color;
    border-width: 0.25rem;
    background: none; // Remove background to prevent default styling
    box-shadow: none; // Remove any box-shadow that might appear on click
    outline: none; // Remove outline to ensure no default focus styles
    &:focus,
    &:hover {
        border-color: darken($border-color, 10%); // Darken border color on hover
        box-shadow: 0 0 0 0.2rem rgba($border-color, 0.5); // Add a subtle shadow on hover
    }
  }

  .navbar-collapse {
    border-top: 1px solid $border-color;

    .nav {
      .nav-link {
        color: $link-color; // Set the color to blue
        font-size: 1.25rem; // Increase font size
        font-weight: bold; // Make text bold
        padding: 0.75rem 1.25rem; // Increase padding for a larger clickable area
        text-decoration: underline #ffd166; // Set underline color to yellow

        &:hover {
          color: $link-hover-color; // Yellow on hover
        }

        &.active {
          color: $link-active-color; // Active link color
        }
      }
    }
  }
}

// Responsive styles
@media (min-width: 992px) {
  .navbar {
    .navbar-collapse {
      border-top: none;

      .nav {
        .nav-link {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
