// Define colors and common variables
$primary-color: #118ab2; // Primary button color
$input-border-color: #ffd166; // Border color for inputs
$input-focus-border-color: #007bff; // Border color for inputs on focus
$form-background-color: #f8f9fa; // Background color for the form
$form-padding: 20px; // Padding for the form
$form-border-radius: 8px; // Border radius for the form
$form-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Box shadow for the form
$form-outline-color: #ffd166; // Outline color for the form

// Search input style
.search-input {
    border: 2px solid #ffd166;  // Yellow border
    border-radius: 4px;         // Optional: rounded corners
    padding: 8px;               // Optional: padding inside the input
    font-size: 16px;            // Optional: font size
    width: 100%;                 // Optional: full width
    box-sizing: border-box;     // Optional: ensures padding and border are included in the width
  }

// MovieCard styles
.card-container {
    display: flex;
    flex-wrap: wrap; // Allow cards to wrap to the next line on smaller screens
    justify-content: center; // Center the cards in the container
    gap: 2rem; // Add space between the cards
  
    @media (max-width: 768px) {
      gap: 1rem; // Reduce the gap between cards on smaller screens
    }
  }

// Example adjustments in MainView.scss
.row {
    margin-bottom: 2rem; // Adjust bottom margin to space out rows
  }
  
  .col-md-3 {
    padding: 0.5rem; // Adjust padding as needed
  }
  

// Responsive styles
@media (min-width: 576px) {
  .form-container {
    padding: 30px; // Increase padding on larger screens
  }

  .submit-button {
    padding: 0.75rem 1.5rem; // Increase button padding on larger screens
  }

  .search-input {
    padding: 0.75rem; // Increase padding on larger screens
  }

  .movie-card {
    padding: 1.5rem; // Increase padding inside the card on larger screens
  }
}
