// Define colors and common variables
$primary-color: #118ab2;
$secondary-color: #ffd166;
$header-font-size: 2rem;
$header-font-weight: bold;
$info-label-color: #073b4c;
$form-background-color: #f9f9f9;
$form-border-color: #ddd;
$card-background-color: #ffffff; // Background color for cards
$card-image-height: 15rem; // Fixed height for images

// General header and label styles
.header, .info-header {
  color: $primary-color;
  font-weight: $header-font-weight;
  font-size: $header-font-size;
}

.info-label {
  color: $info-label-color;
  font-weight: bold;
  margin: 0.5rem 0;
}

.info-value {
  font-weight: normal;
}

// Profile view container
.profile-view-container {
  padding: 2rem;

  .header {
    margin-bottom: 1rem;
  }

  .favorite-movies {
    .card-container {
      display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
      gap: 1rem; /* Space between items */
      padding: 1rem;

      @media (max-width: 768px) {
        justify-content: center;
        gap: 0.75rem;
        padding: 0.5rem;
      }

      @media (max-width: 480px) {
        justify-content: center;
        gap: 0.5rem;
      }
    }
    
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30rem; // Fixed height for all cards
      width: 18rem; // Fixed width for all cards
      overflow: hidden; // Prevent overflow of content
      border: 1px solid #ddd; // Example border, adjust as needed
      border-radius: 0.5rem; // Example border radius, adjust as needed
      margin-bottom: 1rem; // Space between cards vertically
      background-color: $card-background-color; // Ensure background color
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); // Add subtle shadow for better visual separation

      @media (max-width: 768px) {
        max-width: 15rem; // Adjust width for medium screens
      }
    
      @media (max-width: 480px) {
        max-width: 12rem; // Adjust width for small screens
      }

      .card-img-container {
        width: 100%; // Full width of the card
        height: $card-image-height; // Fixed height for the image container
        display: flex; // Use flexbox to center image
        align-items: center; // Center image vertically
        justify-content: center; // Center image horizontally
      }

      .card-img {
        width: 100%; // Full width of the container
        height: 100%; // Full height of the container
        object-fit: contain; // Ensure image covers the container without distortion
        object-position: center; // Center the image within its container
      }

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; // Push buttons towards the bottom

        .see-more, .favorite-button {
          width: 100%; // Make buttons full width
          margin-bottom: 0.5rem; // Add spacing between buttons
        }

        .see-more {
          font-family: "Montserrat", sans-serif;
          font-weight: normal;
          background-color: $primary-color; // Blue background
          color: #ffffff; // White text
          border: 1px solid #ffffff; // Blue border color

          &:hover {
            background-color: darken($primary-color, 10%); // Darker blue on hover
            color: #ffffff; // White text color on hover
            border: 1px solid #ffffff; // Blue border color on hover
          }
        }

        .favorite-button {
          background-color: #ffffff;
          color: #ef476f;
          border: 2px solid #ef476f;

          &:hover {
            background-color: darken(#ef476f, 10%);
            color: #ffffff;
            border: 1px solid #ef476f;
          }
        }
      }
    }
  }
}

// Update user form styles
.update-user {
  max-width: 28rem;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid $form-border-color;
  border-radius: 0.5rem;
  background-color: $form-background-color;

  .card-title {
    color: $primary-color;
    font-weight: $header-font-weight;
    font-size: $header-font-size;
  }

  .form-header {
    color: $info-label-color;
    font-weight: bold;
  }

  .form-input {
    color: $info-label-color;
    margin-bottom: 1rem;
  }

  .btn-primary, .btn-secondary {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: none;
    width: 100%;
  }

  .btn-primary {
    background-color: $primary-color;
    color: #ffffff;
    font-weight: bold;

    &:hover {
      background-color: darken($primary-color, 10%);
      color: white;
    }
  }

  .btn-secondary {
    background-color: #ffffff;
    border: 2px solid $secondary-color;
    color: $info-label-color;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0.5rem;

    &:hover {
      background-color: darken($secondary-color, 10%);
      border-color: darken($secondary-color, 10%);
      color: #ffffff;
    }
  }
}
